.projects
  &__item
    outline: none
  &-slider
    padding-bottom: 50px
    border-bottom: 1px solid rgba(#c4c4c4, 0.03)
    &__dots
      display: flex
      flex-direction: row
      justify-content: flex-start
      align-items: center
      margin: 0
      padding: 0
      list-style: none
      li
        width: 10px
        height: 10px
        margin-right: 35px
        border-radius: 50%
        cursor: pointer
        transition: all .4s
        &:last-child
          margin-right: 0
        background-color: #252525
        &.slick-active
          background-color: $primary 
      button
        display: none
  &-image
    max-width: 100%
    border-radius: 10px
    border: 1px solid #191919
    &__slide
      display: block
      width: 50%
      margin: 0 auto
  &__title
    margin-bottom: 10px
    color: $white
    font-size: 34px
    +bold
  &__subtitle
    max-width: 450px
    margin-bottom: 20px
    colro: $text-color
    font-size: 18px
  &__link
    margin-bottom: 30px
    font-size: 18px
  &-wrap
    position: relative
  &-arrow
    position: absolute
    top: 30%
    right: -3.5%
    display: flex
    justify-content: space-between
    align-items: center
    width: 107%
    &:hover
      cursor: pointer
    &__right
      transform: rotate(180deg)
@media (max-width: 1300.98px)
  .projects
    &-arrow
      display: none
@media (max-width: 991.98px) 
  .projects
    &-arrow
      top: 22%
@media (max-width: 767.98px)
  .projects
    &__title
      font-size: 25px
    &__subtitle
      font-size: 15px
    &__link
      font-size: 12px
    &-arrow
      top: 20%
      right: -3.5%
@media (max-width: 575.98px)
  .projects
    &-arrow
      display: none